.navItems *{
  font-family: "Montserrat", sans-serif;
}

.navbar h1 {
  margin: 0;
  /* padding-top: 10px; */
  padding-bottom: 0;
  text-align: center;
  font-weight: 100;
  font-size: 3rem;
  color: rgb(240, 240, 240);
  background-color: #193043;
  font-family: andalus;
}
.navItems {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  padding: 0 20px;
  height: 60px;
  font-weight: bold;
  font-size: 1.2rem;
  color: #fff;
  background-color: #193043;
  border-bottom: 1px solid #e5e5e5;
}

.navItems .navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

}
.navItems span {
  display: flex;
}
.navItems a:hover {
  color: #81c686;
  transition: all 0.3s ease-in-out;
}

.changeLang select {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
}
.search {
  position: absolute;
  left: 25px;
}

.search form {
  display: flex;
  direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 0 20px;
  border-radius: 1rem;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.865);
}
.search input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.149);
}

.search img {
  cursor: pointer;
}
.main {
  height: 100%;
}
/* sidebar */


.sideBar {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 1rem;
  height: fit-content;
  padding: 0.5rem;
  border: 2px solid #0d6f1442;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.sideBar .question {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */

  padding: 0.5rem;
  border: 2px solid #0d6f1442;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.sideBar .socialMediaIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
 
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding : 4rem 20px;
  height: 60px;
  /* font-weight: bold; */
  font-size: 1.2rem;
  color: #fff;
  background-color: #193043;
  border-top: 1px solid #e5e5e5;
}
.footer a:hover {
  color: #81c686;
  transition: all 0.3s ease-in-out;
}

.footerLinks li {
  list-style: none;
  display: inline-block;
  margin-right: 1rem;
  border-bottom: #fff  1px solid;

}

.humburger {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #fff;
  background-color: #193043;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

/* small devices */
@media (max-width: 768px) {
  .navbar {
    z-index: 1;
  }
  .navItems .navLinks {
    width: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
  .navLinks .active {
    border-bottom: none;
  }
  .navItems .show {
    display: block;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1rem;
    width: 50%;
    right: 0;
    height: 100vh;
    background: #193043;
    z-index: 1;
  }
  .footer{
    
    height: 200px;
  }

   

  .search {
    position: absolute;
    left: 0;
    width: 80%;
  }
  .humburger {
    display: block;
    position: absolute;
    right: 1rem;
    top: 70px;
    z-index: 10;
  }
  .humburger img {
    width: 30px;
    height: 30px;
  }
}
