.askContainer{
     
    border: 1px solid #ede2e2;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 70vh;
    margin: 0 auto;
}
.askContainer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    background: #f0f4f4;
    padding: 10px;
    border-radius: 1rem;
    line-height: 2rem;
}
.askContainer form input {
    width: 100%;
    height: 2rem;
    border: 1px solid #ede2e2;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}
.askContainer form textarea {
    width: 100%;
    height: 10rem;
    border: 1px solid #ede2e2;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}
.askContainer form button {
    width: 10%;
    margin: 0 auto;
    height: 2rem;
    border: 1px solid #ede2e2;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    background: #a6f9bb;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}